modules/module.dtd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE module
[
<!ELEMENT module (title,thumbnail,content+,)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT mthumbnail (#PCDATA)>
<!ELEMENT content (thumbnail,text,video?)>
<!ELEMENT cthumbnail (#PCDATA)>
<!ELEMENT text (#PCDATA)>
<!ELEMENT video (url,info?)>
<!ELEMENT url (#PCDATA)>
<!ELEMENT info (#PCDATA)>
]>